body{
    font-family: 'Playfair Display', serif;
}
h2{
    font-size: 4em;
}
h3{
    font-size: 1.5em;
}
h4{
    font-size: 2em;
}

p{
    font-size: 2em ;
}

.logo{
   background-color: #0a0025; 
   text-align: center;
}


.Gustavo{
    width: 100%;
    background-color: #c9bb00;
}
.descricao{
    background-color: #0a0025;
    color: rgb(132, 155, 0);
    text-align: center;
    padding: 10px;
}




.whatsApp{
    border-color: #ffffff;
    background-color: #029c23;
    padding: 1px;
    color: #000000;
    font-weight: bold;
    font-size: 1.5em;
}
.whatsApp_link {
    color: #140264;
    text-decoration: none;
}

.whatsApp_link a {
    color: #000000;
}

.advgusttavonogueira{
    text-align: center;
}

.servicos{
    padding: 40px;
    background-color: #0a0025;
    color: rgb(132, 155, 0) ;
    text-align: center;    
}

.Gustavo{
    background-color: #0a0025;    
}

.maory_foto{
    width: 100%;
}

.advgusttavonogueira{
    padding: 20px;
    color: rgb(132, 155, 0);
}

label{
    display: block;
    padding: 10px;
}
input[type=text]{
    padding: 10px;
    width: 100%;
    display: block;
    padding: 20px;
}

textarea{
    width: 90%;
    display: block;
    padding: 10px;
}

.enviar_mensagem{
    text-align: center;
    margin: 10px;
    
}

footer{
    padding: 40px;
    background-color: #0a0025;
    color: rgb(132, 155, 0);
    text-align: center;
}
